<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaginaError</title>
</head>
<body style="background-color: antiquewhite; font-size: 35px; font-family: 'Courier New', Courier, monospace; text-align: center;">
    <div id="error">
        <H1>SE HA ENCONTRADO UN ERROR</H1>
        <hr>
        <P>EL ERROR QUE SE ENCONTRO FUE: <b><%= mensaje %></b></P>
        <image src="https://i.pinimg.com/736x/48/cf/7f/48cf7fff6428fe2b9665c4f6f6d20975.jpg"></image>
    </div>
</body>
</html>